<div class="comment">
  <%= comment.body %>
<!--  если пользователь - автор поста либо автор комментария, то он может удалить этот комментрий-->
  <% if current_user == @post.user || current_user == comment.user %>
    <%= link_to(
            fa_icon('trash'), post_comment_path(comment.post, comment),
            method: :delete, data: {confirm: 'destroy_confirm'}
        ) %>
  <% end %>
  <% if comment.user.present? %>
    <%= render partial: 'users/user', object: comment.user %>
  <% else %>
    Написал <%= comment.user_name %>
  <% end %>
  <div class="comment-time">
    <%= l comment.created_at, format: :short %>
  </div>
</div>
